@import "@scss/Variables.scss";

.archived-proj-link-container {
    margin: 70px 0;
}

.archived-projects-link {
    text-decoration: none;
    color: rgb(198, 198, 198);
    font-size: 2em;
    font-weight: 500;

    .view-more-link {
        border-bottom: dashed;
    }

    &:hover {
        .view-more-link {
            border-bottom: 1px solid $proj-title-color;
        }

        .archived-projects-arrow-svg {
            fill: $proj-title-color;
            transform: translateX(10px);
        }
    }
}

.archived-projects-arrow-svg {
    transition: transform 0.2s ease-in-out, fill 0.2s ease-in-out;
    fill: rgb(238, 238, 238);
}