.archived-projects-link {
    color: rgb(238, 238, 238);
    font-size: 1.5em;
    font-weight: 300;
    text-decoration: none;
}

.archived-projects-link:hover .archived-projects-arrow-svg {
    transform: translateX(10px);
}

.archived-projects-arrow-svg {
    transition: transform 0.2s ease-in-out;
}

.archived-projects-arrow-svg {
    fill: rgb(238, 238, 238);
}