@import "@scss/Global.scss";

.exp-list {
    text-decoration: none;
    margin: 0;
    padding: 0;
    list-style: none;

}

.card-year {
    white-space: nowrap;
    @include text-div;
}

.card-title,
.card-p {
    @include text-div;
}