@import "@scss/Global.scss";

.exp-list {
    text-decoration: none;
    margin: 0;
    padding: 0;
    list-style: none;
}

.exp-card {
    margin: 40px 0 0 0;

    &:first-child {
        margin: 30px 0 0 0;
    }
}

.card-year {
    color: rgb(135, 135, 135);
    white-space: nowrap;
    font-size: .75em;
    font-weight: 600;
    letter-spacing: .3px;
}

.card-title {
    height: 50px;
    padding: 0;
    margin: 0;
    color: rgb(198, 198, 198);
    font-size: 1em;
    font-weight: 500;
}

.card-p {
    font-size: .875em;
    color: rgb(178, 178, 178);
    font-weight: none;
}