.proj-title {
    color: rgb(147, 147, 147);
    font-size: 1em;
    font-weight: 100;
}

.proj-header-links {
    color: rgb(147, 147, 147);
}

.proj-p {
    color: rgb(147, 147, 147);
    font-size: 1em;
    font-weight: 100;
}

.proj-img-container {
    overflow: hidden;
}

.proj-img {
    object-fit: cover;
}