@import "@scss/Global.scss";

.home-proj-card {
    margin: 50px 0 0 0;
}

.home-proj-details {
    width: 100%;
}

.home-proj-header {
    margin: -5.74px 0 0 0;
}

.home-proj-title-link {
    text-decoration: none;
    color: rgb(198, 198, 198);
    font-size: 1em;
    font-weight: 500;
}

.home-proj-header-links {
    display: flex;
    align-items: center;
    gap: 10px;
}

.home-proj-p {
    font-size: .875em;
    color: rgb(178, 178, 178);
    font-weight: none;
}

.home-proj-img-container {
    overflow: hidden;
}

.home-proj-img {
    object-fit: cover;
}