@import "@scss/Global.scss";

[id^="home-proj-card-"] {
    position: relative;

    &:hover {
        [class^="mirror-container-"] {
            backdrop-filter: blur(10px);
            -webkit-backdrop-filter: blur(10px);
            background: rgba(255, 255, 255, 0.09);
            border-radius: 5px;
            background: linear-gradient(to bottom right,
                    rgba(141, 141, 141, 0),
                    rgba(141, 141, 141, 0.05));
            box-shadow:
                2px 2px 1px rgba(0, 0, 0, 0.2),
                4px 4px 2px rgba(0, 0, 0, 0.2),
                8px 8px 4px rgba(0, 0, 0, 0.2),
                16px 16px 8px rgba(0, 0, 0, 0.2),
                32px 32px 16px rgba(0, 0, 0, 0.2);
            height: 100%;
            position: absolute;
            transform: scaleX(1.115) scaleY(1.3);
            width: 100%;
            z-index: -1;
        }
    }
}

.home-proj-card {
    margin: 75px 0 0 0;
}

.home-proj-details {
    width: 100%;
}

.home-proj-header {
    margin: -5.74px 0 0 0;
}

.home-proj-title-link {
    text-decoration: none;
    color: rgb(198, 198, 198);
    font-size: 1em;
    font-weight: 500;
}

.home-proj-header-links {
    display: flex;
    align-items: center;
    gap: 10px;
}

.home-proj-p {
    font-size: .875em;
    color: rgb(178, 178, 178);
    font-weight: none;
}

.home-proj-img-container {
    overflow: hidden;
}

.home-proj-img {
    object-fit: cover;
}