.proj-title {
    color: rgb(147, 147, 147);
    font-size: 1em;
    font-weight: 100;
    min-width: 175px;
}

.proj-header-links {
    color: rgb(147, 147, 147);
}

.proj-p {
    color: rgb(147, 147, 147);
    font-size: 1em;
    font-weight: 100;
    margin: 10px 0 0 0;
}