@import "@scss/Variables.scss";

$yOffset: 30px;
$xOffset: 12px;
@media (min-width: $breakpoint-lg) {
    .home-proj-card {
        position: relative;

        &:hover {
            .mirror-container {
                background: linear-gradient(to bottom right,
                        rgba(174, 174, 174, 0),
                        rgba(174, 174, 174, 0.1));
                border-radius: 10px;
                box-shadow:
                    0 2px 1px rgba(0, 0, 0, 0.2),
                    0 4px 2px rgba(0, 0, 0, 0.2),
                    0 8px 4px rgba(0, 0, 0, 0.2),
                    0 16px 8px rgba(0, 0, 0, 0.2),
                    0 32px 16px rgba(0, 0, 0, 0.2);

                height: calc(100% + calc(2 * $yOffset));
                position: absolute;
                right: -$xOffset;
                top: -$yOffset;
                width: calc(100% + calc(2 * $xOffset));
                z-index: -1;
            }
        }
    }
}

.home-proj-card {
    margin: 60px 0 0 0;

    &:first-child {
        margin: 30px 0 0 0;
    }
}

.home-proj-details {
    width: 100%;
}

@media (min-width: $breakpoint-md) {
    .home-proj-header {
        margin: -5.74px 0 0 0;
    }
}

.home-proj-title-link {
    color: rgb(198, 198, 198);
    font-size: 1em;
    font-weight: 600;
    text-decoration: none;
}

.home-proj-header-links {
    align-items: center;
    display: flex;
    gap: 10px;
}

.home-proj-p {
    color: rgb(178, 178, 178);
    font-size: .875em;
    font-weight: none;
}

.home-proj-img-container {
    overflow: hidden;
}

.home-proj-img {
    object-fit: cover;
}