@import "@scss/Global.scss";

$icon-height: 50px;

.social-links {
    margin: 50px 0 0 0;
    // padding: 0;
    height: $icon-height;

    li {
        list-style: none;

        &:first-child {
            margin: 0 10px 0 0;
        }
    }

    svg {
        width: $icon-height;
        fill: rgb(178, 178, 178);
    }
}

.social-link-svg-linked-in:hover {
    fill: $linked-in-blue;
}

.social-link-svg-github:hover {
    fill: $github-purple-profile;
}