@import "@scss/Global.scss";

.social-links {
    text-decoration: none;
}

[class^="link-icon"] {

    &.link-icon-linked-in {
        fill: rgb(178, 178, 178);

        &:hover {
            fill: $linked-in-blue;
        }
    }

    &.link-icon-github {
        fill: rgb(178, 178, 178);

        &:hover {
            fill: $github-purple-profile;
        }
    }
}