@import "@scss/Global.scss";

.social-links {
    text-decoration: none;
}

[class^="link-icon"] {

    &.link-icon-linked-in {
        fill: $linked-in-blue;
    }

    &.link-icon-github {
        fill: $github-purple-profile;
    }
}