@import "@scss/Global.scss";

.experience {
    h2 {
        @include text-h2
    }

    ol {
        padding: 0;
    }

    li {
        @include text-li;
        list-style: none;

    }

    .tags {
        span {
            background-color: gray;
            margin-right: 10px;
            border-radius: 25px;
        }
    }
}