@import "@scss/Global.scss";

.link-proj-webpage {
    height: 100%;
    fill: $web-url-light-blue;
}

.link-proj-github {
    height: 100%;
    fill: $github-purple-profile
}

.a-svg {
    height: 100%;
    padding: 1px;
}