@import "@scss/Global.scss";

/* home page component */
.home-page-proj-links {
    margin: 0 0 0 30px;
    width: 60px;
}

.home-page-proj-website {
    height: 100%;
    fill: $web-url-light-blue;
}

.home-page-proj-github {
    height: 100%;
    fill: $github-purple-profile
}

.home-page-a-svg {
    height: 100%;
    max-height: 50px;
    margin-right: 10px;
}


/* projects page component */
.projects-page-proj-links {
    margin: 0 0 0 10px;
    width: 60px;
}

.projects-page-proj-github {
    height: 100%;
    fill: $github-purple-profile;

}

.projects-page-proj-website {
    height: 100%;
    fill: $web-url-light-blue;

    &:hover {
        .projects-page-a-svg {
            filter: drop-shadow(0 0 1em #ffffff);
            animation: jump 0.3s ease-in-out forwards;
        }
    }
}

.projects-page-proj-github {
    height: 100%;
    fill: $github-purple-profile;

    &:hover {
        .projects-page-a-svg {
            animation: jump 0.3s ease-in-out forwards;
            filter: drop-shadow(0 0 1em #ffffff);
        }
    }
}

@keyframes jump {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }
}