@import "@scss/Variables.scss";

div.icon-plus,
div.icon-minus {
    box-sizing: border-box;
    color: white;
    margin: 15px 0;
    padding: 0 0 0 15px;
    font-size: 1.2em;
    cursor: pointer;

    border: solid 2px transparent;
    transition: border-color 0.3s ease;

    &:active {
        transform: translateY(2px);
    }
}

div.icon-plus:hover {
    border-color: rgba(255, 255, 255, 0.448);
}

div.icon-minus {
    border-color: $app-text-color;
}