@import "@scss/Variables.scss";

.headlines-container {
  width: 100vw;
  color: white;
  white-space: nowrap;
  position: fixed;
  bottom: 0;
  background: linear-gradient(to bottom,
      rgba(59, 59, 59, 0.018),
      rgb(69, 69, 69));
  backdrop-filter: blur(2px);
}

.headline-list {
  height: 50px;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  list-style: none;
  animation: scrollLeft 200s linear infinite;
  animation-play-state: running;
  width: max-content;

  &:hover {
    animation-play-state: paused;
    overflow-x: auto;
    cursor: pointer;
  }
}

.headline-li {
  margin: 0 70px 0 0;
  list-style: none;
  font-size: .9em;
  letter-spacing: -.3px;

  :hover {
    border-bottom: 1px solid $app-text-color;
  }
}

.headline-link {
  color: white;
}

@keyframes scrollLeft {
  0% {
    transform: translateX(calc(100vw + 5px));
  }

  100% {
    transform: translateX(-100%);
  }
}