@import "@scss/Variables.scss";

.headlines-container {
  width: 100vw;
  color: white;
  white-space: nowrap;
  position: fixed;
  bottom: 0;
  background: linear-gradient(to bottom,
      rgba(59, 59, 59, 0.018),
      rgb(69, 69, 69));
  backdrop-filter: blur(2px);
  -webkit-background: linear-gradient(to bottom,
      rgba(59, 59, 59, 0.018),
      rgb(69, 69, 69));
  -webkit-backdrop-filter: blur(2px);
}

.headline-list {
  height: 70px;
  margin: 0;
  padding: 0;
  list-style: none;
  width: max-content;

  animation-name: scrollLeft;
  animation-duration: 200s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-play-state: running;
  will-change: transform;
  -webkit-animation-name: scrollLeft;
  -webkit-animation-duration: 200s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-play-state: running;
  -webkit-animation-will-change: transform;

  &:hover {
    overflow-x: auto;

    animation-play-state: paused;
    -webkit-animation-play-state: paused;

    cursor: pointer;
  }
}

.headline-li {
  margin: 0 70px 0 0;
  list-style: none;
  font-size: .9em;
  letter-spacing: -.3px;

  :hover {
    border-bottom: 1px solid $app-text-color;
  }
}

.headline-link {
  color: white;
}

@keyframes scrollLeft {
  0% {
    transform: translate3d(calc(100vw + 5px), 0, 0);
    -webkit-transform: translate3d(calc(100vw + 5px), 0, 0);
  }

  100% {
    transform: translate3d(-100%, 0, 0);
    -webkit-transform: translate3d(-100%, 0, 0);
  }
}