@import "@scss/Variables.scss";

/* animations */
/* credit: Tobias Ahlin, SpinKit */
.loading-div.loading-headlines {
  position: fixed;
  bottom: 20px;
}


.loading-div {
  height: 60px;
  width: 60px;
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.cube {
  width: 20px;
  height: 20px;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
  animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
  background-color: $app-text-color;


  &-7 {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
  }

  &-4,
  &-8 {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
  }

  &-1,
  &-5,
  &-9 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
  }


  &-2,
  &-6 {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
  }

  &-3 {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
  }
}

@keyframes sk-cubeGridScaleDelay {

  0%,
  70%,
  100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  }

  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1);
  }
}

@-webkit-keyframes sk-cubeGridScaleDelay {

  0%,
  70%,
  100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  }

  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1);
  }
}