@import "@scss/Global.scss";

/* home page component */
.home-page-proj-links {
    margin: 0 0 0 30px;
    width: 60px;
}

.home-page-proj-website {
    height: 100%;
    fill: $web-url-light-blue;

    &:hover {
        .home-page-a-svg {
            filter: drop-shadow(0 0 1em #ffffff);
            animation: jump 0.3s ease-in-out forwards;
        }

        &~.url-link {
            filter: drop-shadow(0 0 1em #ffffff);
        }
    }
}

.home-page-proj-github {
    height: 100%;
    fill: $github-purple-profile;

    &:hover {
        .home-page-a-svg {
            filter: drop-shadow(0 0 1em #ffffff);
            animation: jump 0.3s ease-in-out forwards;
        }

        &~.url-link {
            filter: drop-shadow(0 0 1em #ffffff);
        }
    }
}

.home-page-a-svg {
    height: 100%;
    max-height: 50px;
    margin: 0 10px 0 0;
}


/* projects page component */
.projects-page-proj-links {
    margin: 0 0 0 10px;
    width: 60px;
}

.projects-page-proj-github {
    height: 100%;
    fill: $github-purple-profile;
    margin-right: 10px;

    &:hover {
        .projects-page-a-svg {
            filter: drop-shadow(0 0 1em #ffffff);
            animation: jump 0.3s ease-in-out forwards;
        }

        &~.url-link {
            filter: drop-shadow(0 0 1em #ffffff);
        }
    }
}

.projects-page-proj-website {
    height: 100%;
    fill: $web-url-light-blue;
    margin-right: 10px;

    &:hover {
        .projects-page-a-svg {
            filter: drop-shadow(0 0 1em #ffffff);
            animation: jump 0.3s ease-in-out forwards;
        }

        &~.url-link {
            filter: drop-shadow(0 0 1em #ffffff);
        }
    }
}