@import "@scss/Variables.scss";

$svg-icon-height: 100%;

.proj-link {
    color: white;
    margin: 0 7px;
    text-decoration: none;

    span.link-label {
        margin: 0 5px 0 0;

        &:hover {

            border-bottom: dashed 1px $app-text-color;
        }
    }
}

.projects-proj-github-link {
    fill: $github-purple-profile;
    height: $svg-icon-height;

    &:hover {
        .link-label {
            border-bottom: dashed 1px $app-text-color;

        }

        .projects-proj-a-svg {
            filter: drop-shadow(0 0 1em #ffffff);
            animation: jump-up 0.3s ease-in-out forwards;
        }

        &~.projects-proj-url-link {
            filter: drop-shadow(0 0 1em #ffffff);
        }
    }
}

.projects-proj-website-link {
    fill: $web-url-light-blue;
    height: $svg-icon-height;

    &:hover {
        .link-label {
            border-bottom: dashed 1px $app-text-color;
        }

        .projects-proj-a-svg {
            filter: drop-shadow(0 0 1em #ffffff);
            animation: jump-up 0.3s ease-in-out forwards;
        }

        &~.projects-proj-url-link {
            filter: drop-shadow(0 0 1em #ffffff);
        }
    }
}