@import "@scss/Global.scss";

/* home page component */
.home-proj-links {
    margin: 0 0 0 30px;
    width: 60px;
}

@media(min-width: $breakpoint-md) {
    .home-proj-link:last-child {
        margin: 10px 0 0 0;
    }
}

.home-proj-github-link {
    display: block;
    fill: $github-purple-profile;
    height: 25px;

    &:hover {
        .home-proj-a-svg {
            filter: drop-shadow(0 0 1em #ffffff);
            animation: jump-up 0.3s ease-in-out forwards;
        }

        &~.url-link {
            filter: drop-shadow(0 0 1em #ffffff);
        }
    }
}

.home-proj-website-link {
    display: block;
    fill: $web-url-light-blue;
    height: 25px;

    &:hover {
        .home-proj-a-svg {
            filter: drop-shadow(0 0 1em #ffffff);
            animation: jump-up 0.3s ease-in-out forwards;
        }

        &~.url-link {
            filter: drop-shadow(0 0 1em #ffffff);
        }
    }
}

.home-proj-a-svg {
    height: 100%;
    margin: 0 10px 0 0;
}


/* projects page component */
.projects-proj-links {
    margin: 0 0 0 10px;
    width: 60px;
}

.projects-proj-github-link {
    fill: $github-purple-profile;
    height: 100%;
    margin-right: 10px;

    &:hover {
        .projects-proj-a-svg {
            filter: drop-shadow(0 0 1em #ffffff);
            animation: jump-up 0.3s ease-in-out forwards;
        }

        &~.url-link {
            filter: drop-shadow(0 0 1em #ffffff);
        }
    }
}

.projects-proj-website-link {
    fill: $web-url-light-blue;
    height: 100%;
    margin-right: 10px;

    &:hover {
        .projects-proj-a-svg {
            filter: drop-shadow(0 0 1em #ffffff);
            animation: jump-up 0.3s ease-in-out forwards;
        }

        &~.url-link {
            filter: drop-shadow(0 0 1em #ffffff);
        }
    }
}