@import "@scss/Global.scss";

/* home-page styles */
.home-exp-tag {
    background-color: rgb(162, 162, 162);
    border-radius: 25px;
    font-size: 1em;
    font-weight: 100;
}

/* home page styles */
.home-proj-tag {
    background-color: rgb(162, 162, 162);
    border-radius: 25px;
    font-size: 1em;
    font-weight: 100;
}

/* projects-page styles */
.projects-table-tag {
    background-color: rgb(162, 162, 162);
    border-radius: 25px;
    color: $app-background-color;
    font-size: 1em;
    font-weight: 100;
}