@import "@scss/Variables.scss";

.about {
    h2 {
        color: rgb(255, 255, 255);
        font-size: .875em;
        font-weight: 700;
        letter-spacing: 1.5px;
        margin: 100px 0 0 0;
    }

    p {
        color: rgb(170, 170, 170);
        font-weight: 300;
    }

    strong {
        color: rgb(255, 255, 255);
        font-weight: 600;

        a {
            color: rgb(255, 255, 255);
            text-decoration: none;
        }
    }
}

@media(min-width: $breakpoint-lg) {
    .about {
        h2 {
            margin: 7px 0 0 0;
        }
    }

    .plant-icon {
        color: rgb(255, 255, 255);
        font-weight: 600;

        &:hover {
            color: rgb(182, 217, 88);
            cursor: url("/src/assets/plant-icon.png"), auto;

        }
    }
}