@import "@scss/Variables.scss";

@media (max-width: $breakpoint-sm) {
    .home-header {
        h1 {
            color: rgb(255, 255, 255);
            font-size: 2.25em;
            font-weight: 700;
        }

        h2 {
            color: rgb(255, 255, 255);
            font-size: 1.125em;
            letter-spacing: -0.4px;
        }

        p {
            color: rgb(178, 178, 178);
            font-weight: 300;
        }
    }
}


@media (min-width: #{$breakpoint-sm}) and (max-width: #{calc(#{$breakpoint-lg} - 1px)

}) {
    .home-header {
        h1 {
            color: rgb(255, 255, 255);
            font-size: 3em;
            font-weight: 700;
        }

        h2 {
            color: rgb(255, 255, 255);
            font-size: 1.25em;
            font-weight: 500;
            letter-spacing: -0.5px;
        }

        p {
            color: rgb(178, 178, 178);
            font-weight: 300;
        }
    }
}


@media (min-width: $breakpoint-lg) {
    .home-header {
        h1 {
            color: rgb(255, 255, 255);
            font-size: 3em;
            font-weight: 700;
        }

        h2 {
            color: rgb(255, 255, 255);
            font-size: 1.25em;
            font-weight: 500;
            letter-spacing: -0.5px;
        }

        p {
            color: rgb(178, 178, 178);
            font-weight: 300;
        }
    }
}