@import "@scss/Variables.scss";

.exp-card {
    margin: 40px 0 0 0;

    &:first-child {
        margin: 30px 0 0 0;
    }
}

.card-year {
    color: rgba(182, 181, 181, 0.801);
    white-space: nowrap;
    font-size: .75em;
    font-weight: 500;
    letter-spacing: .3px;
    padding-right: 50px;
    margin: 0;
}

.card-position {
    color: rgb(198, 198, 198);
    font-weight: 200;
}

.comp-link {
    cursor: pointer;

    a {
        color: rgb(233, 233, 233);
        text-decoration: none;
        white-space: nowrap;
    }

    svg {
        height: .9em;
        fill: $proj-title-color;
        padding: 1px;
        margin-left: 10px;
    }

    &:hover {
        a {
            color: $proj-title-color;
        }

        svg {
            transform: scaleX(1.2) scaleY(1.2);
        }
    }

    &:active {
        transform: translateY(2px)
    }
}

.card-comp {
    padding: 0;
    margin: 0;
    font-size: 1em;
    font-weight: 600;
}

.card-title {
    height: 50px;
    padding: 0;
    margin: 0;
    color: rgb(198, 198, 198);
    font-size: 1em;
    font-weight: 500;
}

.card-p {
    font-size: .875em;
    color: rgb(206, 206, 206);
}