@import "@scss/Global.scss";

.projects-page {
    h1 {
        @include text-h1
    }
}

table {
    width: 100%;
}

.table-data {
    color: rgb(238, 238, 238);
    font-size: 1.2em;
    font-weight: 300;
}

.t-row {
    border-bottom-width: 1px;

    &:last-child {
        border-style: None;
    }

    &-year {
        max-width: 70px;
        min-width: 70px;
    }

    &-proj {
        // max-width: 170px;
        // min-width: 170px;
    }

    &-built {
        max-width: 250px;
    }

    &-link {
        margin: 0 0 0 20px;
    }
}

.hover-text:hover {
    color: rgb(255, 72, 72);

}