@import "@scss/Variables.scss";

div.projects-list {
    color: rgb(238, 238, 238);
    text-align: center;
}

hr.hr-project {
    margin: 40px auto;
    width: 70%;
}

a.proj-title {
    text-decoration: none;
    color: rgb(238, 238, 238);
    letter-spacing: 2px;
    font-weight: 700;
    font-size: 1.2em;
}

div.proj-type {
    letter-spacing: .8px;
    font-weight: 100;
    font-size: .8em;
}

span.proj-link {
    &:first-child {
        margin: 0 0 0 5px;
    }
}

div.proj-desc {
    margin: 20px 0 0 0;
}

div.demo {
    margin: 20px 0 0 0;

    .underline {
        border-bottom: .5px solid;
    }
}

div.proj-tags {
    margin: 15px 0 0 0;
}

@media(max-width: $breakpoint-lg) {
    div.proj-card {
        margin: 50px auto;
        max-width: 600px;
    }

    div.proj-content {
        margin: 10px 0 0 0;
        padding: 15px;
    }
}

@media (min-width: $breakpoint-lg) {
    div.proj-card {
        margin: 50px 0;
    }

    div.proj-content {
        margin: 20px auto;
        max-width: 400px;
        padding: 0 15px;
        align-content: center;
    }

    div.proj-info {
        display: flex;
    }
}

/* home page styles*/
div.home-proj-info {
    display: block;
}