@import "@scss/Variables.scss";

.exp-list {
    text-decoration: none;
    margin: 0;
    padding: 0;
    list-style: none;
    color: rgb(255, 255, 255);
}

.clients {
    font-size: .875em;
    color: rgb(255, 255, 255);
    font-weight: none;

    &+li {
        margin: 15px 0 0 0;
    }
}

hr.hr-section {
    color: rgb(238, 238, 238);
    margin-top: 5px;
}