.info-svg {
    fill: rgb(134, 134, 134);

    &:hover {
        fill: white;
        transform: scale(1.3);
    }
}

.info-tooltip {
    color: black;
    background-color: white;
    position: absolute;
    padding: 8px;
    text-align: center;
    font-weight: 200;
    border-radius: 5px;
    max-width: 250px;

    &.hidden {
        display: none;

    }
}