@import "@scss/Global.scss";

.table-data {
    color: rgb(238, 238, 238);
    font-size: 1.2em;
    font-weight: 300;
}

.th-row,
.tr {
    border-bottom-width: 1px;

    &:last-child {
        border-style: None;
    }
}

.hover-text:hover {
    color: $proj-title-color;
}