@import "@scss/Variables.scss";

.th-row,
.tr {
    border-bottom-width: 1px;

    &:last-child {
        border-style: None;
    }
}

.th-row th {
    color: rgb(238, 238, 238);
    font-size: .875em;
    font-weight: 600;
}

.tr-year {
    color: rgb(192, 191, 191);
    font-size: .875em;
    font-weight: 300;
}

.tr-proj-title {
    color: rgb(238, 238, 238);
    font-size: 1em;
    font-weight: 500;
}

.tr-proj {
    hr {
        color: rgb(255, 255, 255);
        border-width: .5px;
        width: 85%;
        padding: 0;
        margin: 5px 0 5px 0;
    }
}

.tr-proj-type {
    color: rgb(238, 238, 238);
    font-size: .75em;
    font-weight: 200;
    letter-spacing: -.4px;
}

.tr-proj-link {
    color: rgb(192, 191, 191);
    font-size: .875em;
    font-weight: 500;
}