@import "@scss/Variables.scss";

footer {
    align-items: center;
    margin: 30px 0 0 0;
    display: fixed;
    bottom: 0;
    height: 200px;

    p {
        color: rgba(155, 155, 155, 0.721);
        font-size: .9em;
        font-weight: 100;
        margin: 0;
        max-width: 300px;
        padding: 0 12px 0 12px;
        text-align: center;

    }

    a {
        color: rgba(229, 229, 229, 0.682);
        font-weight: 500;
        text-decoration: none;

        &:hover {
            color: rgb(255, 255, 255);
        }
    }
}