$app-background-color: #212121;
$linked-in-blue: rgb(0, 119, 181);
$github-purple-profile: rgb(71, 0, 146);

body {
    font-family: sans-serif, ui-sans-serif, Arial, Helvetica, system-ui, Helvetica;
    background-color: $app-background-color;
}

@mixin text-h1 {
    color: rgb(238, 238, 238);
    font-weight: 500;
    font-size: 2em;
    margin: 0;
}

@mixin text-h2 {
    color: rgb(191, 191, 191);
    font-weight: 300;
    font-size: 1.75em;
    margin: 0;
}

@mixin text-h3 {
    color: rgb(191, 191, 191);
    font-weight: 200;
    font-size: 1.5em;
    margin: 0;
}

@mixin text-p {
    color: rgb(147, 147, 147);
    font-weight: 100;
    margin: 10px 0 0 0;
    font-size: 1em;
}

@media (max-width: 576px) {
    .sm\:mt-3 {
        margin-top: 3em;
    }
}

@media (min-width: 576px) and (max-width: 1024px) {
    .md\:mt-3 {
        margin-top: 3em;
    }

}

@media (min-width: 1024px) {
    .lg\:flex {
        display: flex
    }

    .lg\:mlr-auto {
        margin: 0 auto 0 auto;
    }

    .lg\:gap-1 {
        gap: 1em;
    }

    .lg\:gap-2 {
        gap: 2em;
    }

    .lg\:w-50 {
        width: 50%;
    }
}