/* breakpoints */
$breakpoint-xs: 0;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1400px;

/* colors */
$app-background-color: rgb(33, 33, 33);
$github-purple-profile: rgb(162, 75, 255);
$linked-in-blue: rgb(67, 169, 224);
$proj-title-color: rgb(239, 203, 104);
$web-url-light-blue: rgb(96, 210, 255);

/* tag styles*/
$tag-background-color: rgba(239, 203, 104, 0.08);
$tag-color: rgb(239, 203, 104);
$tag-border-color: rgb(149, 110, 0);
$tag-border-radius: 25px;
$tag-border-style: solid;
$tag-border-width: 1px;
$tag-font-size: .75em;
$tag-font-weight: 500;

/* app */
body {
    background-color: $app-background-color;
    font-family: sans-serif, ui-sans-serif, Arial, Helvetica, system-ui, Helvetica;
    font-size: 16px;
}

/* text decorations */
@mixin text-h1 {
    color: rgb(255, 255, 255);
    font-size: 2em;
    font-weight: 500;
    margin: 0;
}

@mixin text-h2 {
    color: rgb(255, 255, 255);
    font-size: 1.75em;
    font-weight: 300;
    margin: 0;
}

@mixin text-h3 {
    color: rgb(191, 191, 191);
    font-size: 1.5em;
    font-weight: 200;
    margin: 0;
}

@mixin text-div {
    color: rgb(147, 147, 147);
    font-size: 1em;
    font-weight: 100;
    margin: 10px 0 0 0;
}

@mixin text-p {
    color: rgb(147, 147, 147);
    font-size: 1em;
    font-weight: 100;
    margin: 10px 0 0 0;
}

@media (min-width: $breakpoint-lg) {
    .w-lg-50 {
        width: 50%;
    }
}

.hover-text:hover {
    color: $proj-title-color;
    font-size: 1em;
    font-weight: 500;
}

/* animations */
.target-highlight {
    filter: drop-shadow(0 0 1em #ffffff);
}

.target-jump-up {
    animation: jump-up 0.3s ease-in-out forwards;
}

@keyframes jump-up {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }
}