/* breakpoints */
$breakpoint-xs: 0;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1400px;

/* font */
$app-font-family: Arial, sans-serif, ui-sans-serif, Arial, Helvetica, system-ui, Helvetica;
$app-font-size: 16px;

/* colors */
$app-background-color: rgb(33, 33, 33);
$app-text-color: rgb(254, 228, 154);
$github-purple-profile: rgb(198, 148, 251);
$hover-text-color: $app-text-color;
$linked-in-blue: rgb(67, 169, 224);
$proj-title-color: $app-text-color;
$web-url-light-blue: rgb(162, 229, 255);